
.sidebar-brand-text {
  text-transform: initial;
  font-weight: bold;
  font-size: 20px;
}

.back {
  display: flex;
  align-items: center;
  color: #1cc78a;
  font-weight: bold;
  transition: transform ease 0.2s;
}

.back:hover {
  opacity: 0.8;
  color: #1cc78a;
  text-decoration: none;
  transform: scale(1.1);
}
.article-name {
  color: wheat;
}

#article-title {
  max-width: 50ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#article-text {
  color: black;
  opacity: 0.9;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 6em;
  line-height: 1.5em;
}
#article-summary{
    color: black;
    opacity: 0.9;
}

.article-proc{
    color: black;
    opacity: 0.9;
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 6em;
    line-height: 1.5em;
  }
}

.reco-icon{
    font-weight: bold;
    font-size: 1em;
    vertical-align: middle;
    display: inline-block;
}

.table{
    margin-bottom: 0;
}

.pagination{
    margin-top: 1rem;
}

.table td{
    color: black;
    opacity: .9;
    vertical-align: middle;
    white-space: normal;
    font-size: .9em;
    
}

.loader-wrapper {
    opacity: .8;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 10000000;
    align-items: center;
    justify-content: center;
  }

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  


  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
  }