{% extends 'base/dashbase.html' %} {% block content %}

<div class="mr-2 ml-1 mb-4 row d-flex justify-content-between align-items-center">
    <a class="back" href="javascript:history.back()"><i
            class="ml-2 mr-2 fas fa-arrow-circle-left text-green-900"></i>Back</a>
    <h3 id="groupname" class=" mb-0 text-gray-800">{{group}}</h3>
  
    <div class="div">
        <a onclick="loadBar2()" class="btn btn-info" href="{% url 'group-recommend' group.id%}"><span class="reco-icon mr-1">Ø</span>Recommend</a>

                <div class="d-inline-block">
                    <form  id="add-file" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group mb-0">
                            <label class="btn btn-success form-control-file mb-0">
                                <i class="fa fa-plus mr-2"></i>Add Articles
                                <input class="form-control d-none" type="file" name="files" id="id_file" multiple>                                
                        </div>
                    </form>
                </div>
        <a class="btn btn-danger" href="{% url 'group-delete' group.id%}"><i class="fas fa-eraser mr-2"></i>Delete</a>
    </div>

</div>

<div class="card shadow bg-light">
    {% include 'includes/table.html' %}
</div>


{% include 'includes/loadbar.html' with text="Article analyzing.." txt="Articles analyzing.."  %}


{% endblock %}